{% extends "base.html" %}
{% block app_content %}
<body>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="{{ url_for('index') }}" title="Перейти на главную" class="tip-bottom"><i class="icon-home"></i> Главная</a> <a href="#" class="current">Загрузить карточку вещества</a> </div>
        <h1>Загрузить карточку вещества</h1>
    </div>
    <div class="container-fluid">
        <form action="" method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="control-group">
                {{ form.title.label(class="control-label") }}
                <div class="controls">
                    {{ form.title(class="form-control") }}
                    {% for error in form.title.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            </div>
            <br />
                    {{ form.filename() }}
                <br />
                <br />
                    {{ form.submit(class="btn btn-primary") }}
            <a href="#myModal" data-toggle="modal" class="btn btn-info">Справка</a>
            <div id="myModal" class="modal hide">
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">×</button>
                    <h3>Справка по загрузке карточки вещества</h3>
                </div>
                <div class="modal-body">
                    <p>1. Выберите название вещества, карточку которого необходимо загрузить.</p>
                    <p>2. Выберите карточку вещества, которую необходимо загрузить.<br />
                        [ВАЖНО!] Старая карточка выбранного вещества будет удалена!!!</p>
                    <p>3. После проверки данных нажмите "Сохранить"</p>
                    <p><code>ВАЖНО! Формат загружаемого файла должен быть ".pdf"</code></p>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row-fluid">
    <div id="footer" class="span12"> 2020 ОРХБЗ Росгвардии <a href="{{ url_for('index') }}">База данных</a> </div>
</div>
</body>
{% endblock %}
